@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}



body {
    margin: 0;
    padding: 0;
    background: url('img3.jpg')no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

nav {
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

main {
    padding: 20px;
}

#dashboard {
    display: flex;
    flex-direction: column; /* Adjusted to column layout */
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    height: 100vh; /* Set height to 100% of the viewport height */
}

/* New class for the search container */
.search-container {
    display: flex;
    align-items: center; /* Center content horizontally */
    margin-top: 20px; /* Added margin to the top of the search container */
}

/* Added margin to the "See All Books" button */
#seeAllBooksBtn {
    margin-bottom: 20px; /* Added margin to the bottom of the button */
}

/* Added margin between the search input and button */
#searchInput {
    margin-right: 10px; /* Adjusted margin to your preference */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
