<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css">
</head>
<body>

  <nav>
    <div class="logo">
        <img src="images/bookicon3.png" alt="Logo">
      </div>
    <a href="#" onclick="showContent('home')">Home</a>
    <a href="#" onclick="showContent('about')">About</a>
    <a href="#" onclick="showContent('contact')">Contact</a>
  </nav>
  <div class="content" id="home">
    <P>A library is not only an institution that gathers knowledge, but also one that makes it possible to create and add to the body 
      of knowledge through experience. The concept of the library as a meeting place or a hands-on creative space is based on the 
      intuition that when a library is thriving—lively and full of activity—then something unexpected, ambitious, or transformative 
      may take place.</P>
    <blockquote>
      <p>
        "Who Needs a Librarian and Cataloger When You Have Google and Internet? Well, Who Needs a Teacher When You Have Wikipedia?
        And, Who Needs a Doctor When You Have WebMD? Just as the Wikipedia Doesn't Replace the Teacher, and WebMD Doesn’t
        Replace the Doctor, In the Same Way, Google Search and Internet Doesn’t Replace the Librarian and Cataloger."
      </p>
      <cite>Salman Haider</cite>
    </blockquote>
  </div>
  

  <div class="content" id="about" style="display: none;">
    <h1>About Us</h1>
    <p> Welcome to our Library Management System! We are dedicated to providing efficient and effective library services
        for both librarians and library users. Our system is designed to streamline various library operations, making
        the management of books, patrons, and transactions more convenient and accessible.</p>
        <h2>Our Mission:</h2>
    <p>Our mission is to empower libraries with modern tools and technologies, fostering a dynamic and engaging environment
        for both learning and community building. We strive to contribute to the enhancement of educational and recreational
        experiences through effective library management.</p>
  </div>

  <div class="content" id="contact" style="display: none;">
    <h1>Contact Us</h1>
    <p>Have questions, suggestions, or need assistance? Feel free to reach out to us using the contact form below.</p>
  
      <form action="#" method="post">
        <label for="name">Your Name:</label>
        <input type="text" id="name" name="name" required>
  
        <label for="email">Your Email:</label>
        <input type="email" id="email" name="email" required>
  
        <label for="message">Your Message:</label>
        <textarea id="message" name="message" rows="4" required></textarea>
  
        <button type="submit">Send Message</button>
      </form>
  </div>

  <script src="index.js"></script>
</body>
</html>

