<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>User Login</title>
<link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">

</head>
<body>
  <nav>
    <div class="logo">
      
    </div>
    <a href="#" onclick="showContent('home')">Home</a>
    <a href="#" onclick="showContent('about')">About</a>
    <a href="#" onclick="showContent('contact')">Contact</a>
  </nav>
  <div id=formContainer></div>
  <form action="" method="POST">
    {% csrf_token %}
    <div>
      <h3>LOGIN</h3>
    </div>
    <div>  
      <label for="email">Email:</label>
      <div id=input-box>
      <input type="text", name="email" required>
      <i class="bx bxs-envelope"></i>
      </div>
    <div id="emailError" class="error"></div>
    <br>
    <div>
      <label for="password">Password:</label>
      <div id=input-box>
      <input type="password", name="password" required>
      <i class="bx bxs-lock"></i>
      </div>
    </div>
    <br>
    <div>
      <input type="submit" value="Login" name="login">
    </div>
    <div>
      {% for message in messages %}
      <p>{{message}}</p>
      {% endfor %}
      <div>Don't have an account? 
        <a href="/register">Sign Up</a>
      </div>  
    </div>
  </form>
 </div>


</body>
</html>