<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>User Login</title>
<link rel="stylesheet" href="{{url_for('static', filename='login.css')}}" />
</head>
<body>
  <nav>
    <div class="logo">
      <img src="{{url_for('static', filename='bookicon3.png')}}" alt="Logo">
    </div>
    <a href="#" onclick="loadHome('home')">Home</a>
    <!-- <a href="{{url_for('templates', filename='bookicon3.png')}}" onclick="showContent('about')">About</a>
    <a href="{{url_for('templates', filename='bookicon3.png')}}" onclick="showContent('contact')">Contact</a> -->
  </nav>
  <form action="/login" method="POST">
    <div>  
    <label for="email">Registered Email:</label>
    <input type="text", name="email" required>
    <div id="emailError" class="error"></div>
    <br>
    <label for="password">Password:</label>
    <input type="password", name="password" required>
    <br>
    <button type="submit" name="submit">Login</button>
    <a href="register.html">
      <button type="button" name="register">Register</button>
    </a>
    </div>

  </form> 

  <script src="{{ url_for('static', filename='login.js') }}"></script>
 
</body>
</html>
