<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Registration</title>
    
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>
  <div class="wrapper">
    <form id="form" action="/register" method="POST">
      {% csrf_token %}

      
      <div id="formContent"> 
        <h2>REGISTER WITH US</h2> 
        <div class="input-box">
          {{form.username.label}}
          <div class="input-field" >
            {{form.username}}
            <i class="bx bxs-user"></i>
          </div>
          <small></small>
        </div>

        <div class="input-box">
          {{form.email.label}}
          <div class="input-field">
            {{form.email}}
            <i class="bx bxs-envelope"></i>
          </div>
          <small></small>
        </div>

        <div class="input-box">
          {{form.password1.label}}
          <div class="input-field">
            {{form.password1}}
            <i class="bx bxs-lock"></i>
          </div>
          <small></small>
        </div>

        <div class="input-box">
          {{form.password2.label}}
          <div class="input-field">
            {{form.password2}}
            <i class="bx bxs-lock"></i>
          </div>
          <small></small>
        </div>

        <br><br>

        <input type="submit" class="btn" name="Create User">

        {{form.errors}}

        <div>
            Already have an account? <a href="/login">Login</a>
        </div>
      </div>
    </form>
  </div>
  <script src="{% static 'register.js' %}"></script>
     
</body>
</html>

