{% extends 'viewbook.html' %}

{% block content %}

<table>
    <thead>
        <tr>
          <th scope="col">index</th>
          <th scope="col">Title</th>
          <th scope="col">Price</th>
          {% if request.user.is_staff %}
          <th scope="col">Action</th>
          {% endif %}
        </tr>
    </thead>
    
    <tbody>
    {% for i in books %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{i.title}}</td>
        <td>{{i.price}}</td>

    {% endfor %}
      
    </tbody>
</table>
{% endblock %}
